{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": "> 0.25%, not dead"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-object-assign"]
}
