node_modules/
npm-debug.log
tmp/
sdk-file/dist/*.dev.js
sdk-file/dist/sdk-web-latest.js
sdk-file/dist/*.map
sdk-file/dist/*.zip
sdk-file/webpack/copyFilesForDev.local.js
lib/
yarn-error.log
*.swp
test/web-dev-server/sdk.dev.js
.idea/*
scripts/config.js
sdk-plugin/plugin/api/sdk-wechat.js
test-storage/
